body {
    margin: 20px 40px;
  }
  
  p {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 16px;
  }
  
  /*--- This is the CSS class for the green rectangular blocks. Note that it uses display: flex ---*/
  .wrapper {
    display: flex;
    height: 60px;
    background-color: green;
    margin-bottom: 20px;
  }
  
  /*--- flex: 1 makes it so that the div takes up all available space left in the parent element ---*/
  .redExample {
    flex: 1;
    background-color: red;
  }
  
  /*--- Since both .redExample and .blueExample have flex: 1, they will take up an equal amount of space because they meet in the middle ---*/
  .blueExample {
    flex: 1;
    background-color: blue;
  }
  
  /*--- flex-direction: row-reverse orders all child elements starting from right to left ---*/
  .emptyExample2 {
    display: flex;
    flex: 1;
    flex-direction: row-reverse;
  }
  
  .blueExample2 {
    width: 80px;
    background-color: blue;
  }

  .redExample2 {
    width: 80px;
    background-color: red;
  }
  
  /* TODO: Add CSS for the rest of your solution below */

  .wrapperFor3 {
    display: flex;
    flex: 1;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .wrapperRed {
    display: flex;
    height: 60px;
    background-color: red;
    margin-bottom: 20px;
  }

  .wrapperBlue {
    display: flex;
    height: 60px;
    background-color: blue;
    margin-bottom: 20px;
  }

  .wrapperCenter {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .smallRedRec {
    background-color: red;
    width: 3%;
    height: 30px;
    padding: 8px;
  }

  .justCenter{
    justify-content: center;
  }

  .greenLine{
    background-color: green;
    width: 100%;
    height: 20px;
    align-self: center;
  }

  .justSpBet{
    display: flex;
    justify-content: space-between;
  }
  .yellowRec {
    display: flex;
    width: 80px;
    background-color: yellow;
  }

  .wrapperYellow {
    display: flex;
    height: 60px;
    background-color: yellow;
    margin-bottom: 20px;
    justify-content: space-evenly;
  }

  .greenStolb {
    display: flex;
    background-color: green;
    height: 60px;
    width: 1%;
  }
  